.bg-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg {
  object-fit: cover;
  filter: brightness(75%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 24px 48px 48px 48px;
  border-radius: 8px;
}

.content-wrapper > h1 {
  color: var(--main-green-color);
}

.purp-text {
  color: var(--main-purple-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.email-field,
.pwd-field {
  font-size: 1em;
  padding: 8px;
  margin: 4px 0;
  border-radius: 8px;
  border: 1px solid var(--main-green-color);
}

.login-btn {
  margin: 24px 0;
  padding: 8px;
  border: none;
  background-color: var(--main-purple-color);
  color: #fff;
  border-radius: 8px;
  font-size: 1em;
  text-align: center;
}

.login-btn:hover {
  cursor: pointer;
}

.anchor-p {
  color: var(--main-green-color);
  text-align: center;
  margin: 0;
}

.anchor-p:hover {
  cursor: pointer;
  text-decoration: underline;
}
