.top-container {
  background-color: rgba(72, 54, 115, 0.5);
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.top-container > span {
  color: #fff;
  font-weight: bold;
}

.top-container > span:hover {
  cursor: pointer;
  color: #029060;
}