.top-container {
  background-color: #483673;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.top-container > span {
  color: #fff;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 1em;
}

.top-container > span:hover, .top-container > span.active {
  cursor: pointer;
  animation: greenBgOnHover 0.2s ease-in 0s 1 forwards;
}

@-webkit-keyframes greenBgOnHover {
  from { background-color: none }
  to { background-color: var(--main-green-color) }
}

@-moz-keyframes greenBgOnHover {
  from { background-color: none }
  to { background-color: var(--main-green-color) }
}

@keyframes greenBgOnHover {
  from { background-color: none }
  to { background-color: var(--main-green-color) }
}