.create-thought-bg {
  padding: 6px 0 48px 0;
  background-color: var(--main-purple-color);
}
.create-thought-box {
  margin: auto;
  padding: 24px 0;
  border-radius: 8px;
  background-color: var(--main-gray-color);
}
.create-thought-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.create-thought-input {
  display: block;
  margin: 0 24px;
}
.create-thought-heading {
  text-align: left;
}
.create-thought-subheading {
  text-align: center;
}
.create-thought-heading, .create-thought-subheading {

  margin: 0 24px 16px 24px;
}
.create-thought-heading.padded, .create-thought-subheading.padded {
  margin-top: 16px;
}
.moods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
}
.mood-0-img,
.mood-1-img,
.mood-2-img,
.mood-3-img,
.mood-4-img,
.mood-5-img,
.mood-6-img,
.mood-7-img,
.mood-8-img {
  width: 48px;
  height: 48px;
  background-size: cover;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 16px;
}
.mood-0-img {
  background-image: url("../assets/angry.png");
}
.mood-1-img {
  background-image: url("../assets/frustrated.png");
}
.mood-2-img {
  background-image: url("../assets/stressed.png");
}
.mood-3-img {
  background-image: url("../assets/depressed.png");
}
.mood-4-img {
  background-image: url("../assets/sad.png");
}
.mood-5-img {
  background-image: url("../assets/meh.png");
}
.mood-6-img {
  background-image: url("../assets/pleasant.png");
}
.mood-7-img {
  background-image: url("../assets/happy.png");
}
.mood-8-img {
  background-image: url("../assets/ecstatic.png");
}
.mood-wrapper {
  flex: 1;
  border-radius: 8px;
}
.mood-wrapper.clicked {
  box-shadow: inset 0 0 0 2px var(--main-purple-color);
}
.mood-wrapper:hover {
  background-color: var(--dark-gray-color);
  cursor: pointer;
}
.mood-wrapper > p {
  margin-top: 0;
}
.mood-wrapper > img {
  margin-top: 1em;
}
.create-btn {
  color: #fff;
  background-color: var(--main-green-color);
  padding: 8px 24px;
  margin: 24px;
  border-radius: 8px;
}
.create-btn:hover {
  background-color: var(--hover-green-color);
  cursor: pointer;
}
.thought-input {
  background-color: var(--dark-gray-color);
  margin: 0 24px;
  font-size: 1em;
  border: none;
  resize: vertical;
  border-radius: 8px;
  height: 5em;
  padding: 8px;
}
.thought-box-0,
.thought-box-1,
.thought-box-2,
.thought-box-3,
.thought-box-4,
.thought-box-5,
.thought-box-6,
.thought-box-7,
.thought-box-8 {
  padding: 8px 16px;
  margin: 8px auto;
  border-radius: 8px;
}
.thought-box-0 {
  background-color: var(--angry-color);
}
.thought-box-1 {
  background-color: var(--frustrated-color);
}
.thought-box-2 {
  background-color: var(--stressed-color);
}
.thought-box-3 {
  background-color: var(--depressed-color);
}
.thought-box-4 {
  background-color: var(--sad-color);
}
.thought-box-5 {
  background-color: var(--meh-color);
}
.thought-box-6 {
  background-color: var(--pleasant-color);
}
.thought-box-7 {
  background-color: var(--happy-color);
}
.thought-box-8 {
  background-color: var(--ecstatic-color);
}
.thought-title {
  color: #fff;
  text-align: left;
  margin: 16px 0;
}
.thought-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 0.83em;
}
.thought-mood {
  text-align: right;
  color: #fff;
}
.thoughts-heading {
  margin-left: 24px;
  text-align: left;
}
.middle-text {
  text-align: center;
}
