/* declare variables */
:root {
  --main-purple-color: #483673;
  --main-green-color: #029060;
  --main-gray-color: #efefef;
  --dark-gray-color: #d8d8d8;
  --hover-green-color: #02754e;
  --angry-color: #d20808;
  --frustrated-color: #d26308;
  --stressed-color: #674505;
  --depressed-color: #d28b08;
  --sad-color: #d2a908;
  --meh-color: #dbd40a;
  --pleasant-color: #8eb601;
  --happy-color: #22b601;
  --ecstatic-color: #188400;
}

/* global styles */
body {
  margin: 0;
  padding-top: 46px;
  background-color: var(--main-gray-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container { width: auto }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container { width: auto; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container { width: 750px; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container { width: 970px; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container { width: 1170px; }
}

/* for desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* for mobile phones */
  [class*="col-"] {
    width: 100%;
  }
}